.form {
    padding-top: 20px;
    font-family: "Rubik", sans-serif;
    font-weight: 200;
    font-size: 15px;
  }

.input {
  width: 100%;
  clear: both;
}

.container input{
  width: 400px;
  clear: both;
}

.option{
  display: flex;
  flex-direction: row;
}