.card {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 20rem;
    max-height: 20rem;
    width: 20rem;
    justify-content: space-evenly;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    background-color: rgb(222, 254, 254);
    min-width: 250px;
    margin: 0.5rem;
}

.card:hover {
    transform: scale(1.05);
}

.image {
    min-height: 8rem;
    max-height: 13rem;
    object-fit: cover;
    cursor: pointer;
  }

  @media screen and (max-width: 1000px) {
    .card {
      width: 200px;
      height: 300px;
      margin-bottom: 20px;
    }
  }